In [8]:
import pandas as pd

In [9]:
data = pd.read_csv("Rep_time_series_TRIMMEAN.csv")
data.shape

(4, 164)

In [10]:
data.head()

,Descriptor,2016-08-30,2016-08-31,2016-09-01,2016-09-02,2016-09-03,2016-09-04,2016-09-05,2016-09-06,2016-09-07,...,2017-02-19,2017-02-20,2017-02-21,2017-02-22,2017-02-23,2017-02-24,2017-02-25,2017-02-26,2017-02-27,2017-02-28
0,bias-1,0.234633,0.236535,0.235646,0.238816,0.239846,0.241211,0.238818,0.234990,0.231744,...,0.243032,0.240266,0.242740,0.239165,0.237906,0.229208,0.241679,0.248535,0.241048,0.233992
1,positive-1,0.054956,0.059876,0.050107,0.052297,0.058137,0.051103,0.052940,0.055652,0.053596,...,0.052735,0.060218,0.065181,0.054531,0.051530,0.043868,0.048588,0.047553,0.052330,0.048225
2,figurative-0,0.577555,0.569854,0.573438,0.568518,0.574961,0.575091,0.566746,0.576329,0.581990,...,0.539419,0.529782,0.540791,0.539493,0.555770,0.540754,0.531527,0.530062,0.534353,0.549793
3,offensive-1,0.301331,0.297322,0.308288,0.312516,0.317409,0.331257,0.329101,0.306827,0.298689,...,0.314799,0.324911,0.304643,0.319683,0.313651,0.340582,0.345451,0.333377,0.313017,0.313936

In [11]:
train_data = data.iloc[:,1:157]
train_data['Descriptor'] = data['Descriptor']

cols = train_data.columns.tolist()
cols = cols[-1:] + cols[:-1]
train_data = train_data[cols]
train_data.head()

,Descriptor,2016-08-30,2016-08-31,2016-09-01,2016-09-02,2016-09-03,2016-09-04,2016-09-05,2016-09-06,2016-09-07,...,2017-02-12,2017-02-13,2017-02-14,2017-02-15,2017-02-16,2017-02-17,2017-02-18,2017-02-19,2017-02-20,2017-02-21
0,bias-1,0.234633,0.236535,0.235646,0.238816,0.239846,0.241211,0.238818,0.234990,0.231744,...,0.239670,0.245530,0.236177,0.230354,0.238757,0.246928,0.258992,0.243032,0.240266,0.242740
1,positive-1,0.054956,0.059876,0.050107,0.052297,0.058137,0.051103,0.052940,0.055652,0.053596,...,0.048666,0.051367,0.050196,0.042061,0.044820,0.048679,0.056404,0.052735,0.060218,0.065181
2,figurative-0,0.577555,0.569854,0.573438,0.568518,0.574961,0.575091,0.566746,0.576329,0.581990,...,0.514597,0.523840,0.529457,0.535836,0.533482,0.522080,0.530246,0.539419,0.529782,0.540791
3,offensive-1,0.301331,0.297322,0.308288,0.312516,0.317409,0.331257,0.329101,0.306827,0.298689,...,0.332692,0.314284,0.312193,0.337917,0.336543,0.330916,0.322716,0.314799,0.324911,0.304643

In [12]:
test_data = data.iloc[:,157:164]
test_data['Descriptor'] = data['Descriptor']

cols = test_data.columns.tolist()
cols = cols[-1:] + cols[:-1]
test_data = test_data[cols]
test_data.head()

,Descriptor,2017-02-22,2017-02-23,2017-02-24,2017-02-25,2017-02-26,2017-02-27,2017-02-28
0,bias-1,0.239165,0.237906,0.229208,0.241679,0.248535,0.241048,0.233992
1,positive-1,0.054531,0.051530,0.043868,0.048588,0.047553,0.052330,0.048225
2,figurative-0,0.539493,0.555770,0.540754,0.531527,0.530062,0.534353,0.549793
3,offensive-1,0.319683,0.313651,0.340582,0.345451,0.333377,0.313017,0.313936

In [13]:
train_data.to_csv("Rep_TRIMMEAN_train.csv", index=False)

In [14]:
test_data.to_csv("Rep_TRIMMEAN_test.csv", index=False)