In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Dem_time_series_MEDIAN.csv")
data.shape

(4, 164)

In [3]:
data.head()

,Descriptor,2016-08-30,2016-08-31,2016-09-01,2016-09-02,2016-09-03,2016-09-04,2016-09-05,2016-09-06,2016-09-07,...,2017-02-19,2017-02-20,2017-02-21,2017-02-22,2017-02-23,2017-02-24,2017-02-25,2017-02-26,2017-02-27,2017-02-28
0,bias-1,0.211141,0.216505,0.219336,0.212223,0.209594,0.212610,0.216292,0.215509,0.211416,...,0.234557,0.257513,0.245838,0.229290,0.233912,0.235841,0.245238,0.238615,0.235176,0.228054
1,positive-1,0.010609,0.011373,0.009506,0.010208,0.009921,0.011075,0.010391,0.010429,0.010552,...,0.008938,0.021045,0.013145,0.009276,0.010939,0.010331,0.010664,0.010819,0.010733,0.006781
2,figurative-0,0.628995,0.634956,0.600615,0.598129,0.596169,0.619418,0.601614,0.608865,0.611425,...,0.599158,0.625530,0.597926,0.594235,0.601476,0.613890,0.607760,0.614412,0.612506,0.608915
3,offensive-1,0.219171,0.229400,0.227089,0.227031,0.244365,0.230029,0.231578,0.224319,0.223354,...,0.220872,0.175831,0.194409,0.231927,0.212361,0.216089,0.229596,0.221075,0.221698,0.259310

In [4]:
train_data = data.iloc[:,1:157]
train_data['Descriptor'] = data['Descriptor']

cols = train_data.columns.tolist()
cols = cols[-1:] + cols[:-1]
train_data = train_data[cols]
train_data.head()

,Descriptor,2016-08-30,2016-08-31,2016-09-01,2016-09-02,2016-09-03,2016-09-04,2016-09-05,2016-09-06,2016-09-07,...,2017-02-12,2017-02-13,2017-02-14,2017-02-15,2017-02-16,2017-02-17,2017-02-18,2017-02-19,2017-02-20,2017-02-21
0,bias-1,0.211141,0.216505,0.219336,0.212223,0.209594,0.212610,0.216292,0.215509,0.211416,...,0.235985,0.232991,0.225342,0.221115,0.226667,0.239936,0.237559,0.234557,0.257513,0.245838
1,positive-1,0.010609,0.011373,0.009506,0.010208,0.009921,0.011075,0.010391,0.010429,0.010552,...,0.008294,0.010416,0.011085,0.007284,0.008161,0.009229,0.008493,0.008938,0.021045,0.013145
2,figurative-0,0.628995,0.634956,0.600615,0.598129,0.596169,0.619418,0.601614,0.608865,0.611425,...,0.595459,0.595592,0.581535,0.615688,0.610295,0.609212,0.598670,0.599158,0.625530,0.597926
3,offensive-1,0.219171,0.229400,0.227089,0.227031,0.244365,0.230029,0.231578,0.224319,0.223354,...,0.222709,0.214976,0.214647,0.250703,0.238417,0.223670,0.227990,0.220872,0.175831,0.194409

In [5]:
test_data = data.iloc[:,157:164]
test_data['Descriptor'] = data['Descriptor']

cols = test_data.columns.tolist()
cols = cols[-1:] + cols[:-1]
test_data = test_data[cols]
test_data.head()

,Descriptor,2017-02-22,2017-02-23,2017-02-24,2017-02-25,2017-02-26,2017-02-27,2017-02-28
0,bias-1,0.229290,0.233912,0.235841,0.245238,0.238615,0.235176,0.228054
1,positive-1,0.009276,0.010939,0.010331,0.010664,0.010819,0.010733,0.006781
2,figurative-0,0.594235,0.601476,0.613890,0.607760,0.614412,0.612506,0.608915
3,offensive-1,0.231927,0.212361,0.216089,0.229596,0.221075,0.221698,0.259310

In [6]:
train_data.to_csv("Dem_MEDIAN_train.csv", index=False)

In [7]:
test_data.to_csv("Dem_MEDIAN_test.csv", index=False)