In [1]:
import pandas as pd
import numpy as np

In [299]:
col_list = ["lang", "tweet_text", "created_at"]
    
data = pd.read_csv("Initial_form/2016_US_election_tweets_0.csv", usecols = [9,11,12], engine='python', error_bad_lines=False)

In [300]:
data.head()

  lang                                         tweet_text           created_at
0   en  @zitto007 @MatthewHrenak @FoxNews @HillaryClin...  2016-08-30 14:41:22
1   en  I think @HumaAbedin should be ashamed that she...  2016-08-30 14:41:22
2   en                                                NaN  2016-08-30 14:41:24
3   en                                                NaN  2016-08-30 14:41:25
4   en                                                NaN  2016-08-30 14:41:25

In [301]:
data.shape

(877924, 3)

In [302]:
data.dropna(inplace=True)

In [303]:
data.shape

(723991, 3)

In [304]:
data = data.loc[data['lang'] == 'en']

data.shape

(678161, 3)

In [305]:
data.reset_index(drop=True, inplace=True)

In [306]:
data = data.drop(['lang'], axis=1)

In [307]:
data.head()

                                          tweet_text           created_at
0  @zitto007 @MatthewHrenak @FoxNews @HillaryClin...  2016-08-30 14:41:22
1  I think @HumaAbedin should be ashamed that she...  2016-08-30 14:41:22
2  @HillaryClinton @Comeridethwhale so are you! t...  2016-08-30 14:41:28
3  @BrinckJeff @POTUS @BarackObama What money is ...  2016-08-30 14:41:31
4  August most violent month in Chicago in nearly...  2016-08-30 14:41:32

In [308]:
#preprocess used from #1 kernel in kaggle for sentiment140 dataset

import nltk
from nltk.stem import WordNetLemmatizer

from nltk.corpus import stopwords
import re


HASHTAG_CLEANING_RE = "#\S+"
MENTION_CLEANING_RE = "@\S+"
TEXT_CLEANING_RE = "https?:\S+|http?:\S|[^A-Za-z0-9]+"


stop_words = stopwords.words("english")
lemmatizer = WordNetLemmatizer()



def preprocess(text, lemma=True):
    # Remove link,user and special characters
    text = re.sub(HASHTAG_CLEANING_RE, ' ', str(text).lower())
    text = re.sub(MENTION_CLEANING_RE, ' ', str(text).lower())
    text = re.sub(TEXT_CLEANING_RE, ' ', str(text).lower()).strip()
    tokens = []
    for token in text.split():
        if token not in stop_words or token in ['not', 'can']:
            if lemma:
                tokens.append(lemmatizer.lemmatize(token))
            else:
                tokens.append(token)
    return " ".join(tokens)

clean_text = data.tweet_text.apply(lambda x: preprocess(x))

data.head()

                                          tweet_text           created_at
0  @zitto007 @MatthewHrenak @FoxNews @HillaryClin...  2016-08-30 14:41:22
1  I think @HumaAbedin should be ashamed that she...  2016-08-30 14:41:22
2  @HillaryClinton @Comeridethwhale so are you! t...  2016-08-30 14:41:28
3  @BrinckJeff @POTUS @BarackObama What money is ...  2016-08-30 14:41:31
4  August most violent month in Chicago in nearly...  2016-08-30 14:41:32

In [309]:
clean_text

0                                      proven another idiot
1                  think ashamed stand pervert husband like
2                   trump amp stupid as different side coin
3         money obama using bring refugee much provide e...
4         august violent month chicago nearly 20 year si...
                                ...
678156                                             meet yoy
678157                                          thought one
678158    can american right mind vote sick amp tired he...
678159                              hahaha much doo doo lol
678160           personally think bad enemy would breakfast
Name: tweet_text, Length: 678161, dtype: object

In [310]:
clean_text.replace('', np.nan, inplace=True)
clean_text.dropna(inplace=True)

clean_text

0                                      proven another idiot
1                  think ashamed stand pervert husband like
2                   trump amp stupid as different side coin
3         money obama using bring refugee much provide e...
4         august violent month chicago nearly 20 year si...
                                ...
678156                                             meet yoy
678157                                          thought one
678158    can american right mind vote sick amp tired he...
678159                              hahaha much doo doo lol
678160           personally think bad enemy would breakfast
Name: tweet_text, Length: 675270, dtype: object

In [311]:
clean_text.drop_duplicates(inplace = True)

clean_text

0                                      proven another idiot
1                  think ashamed stand pervert husband like
2                   trump amp stupid as different side coin
3         money obama using bring refugee much provide e...
4         august violent month chicago nearly 20 year si...
                                ...
678155    look like bag rice not talking brown especiall...
678156                                             meet yoy
678158    can american right mind vote sick amp tired he...
678159                              hahaha much doo doo lol
678160           personally think bad enemy would breakfast
Name: tweet_text, Length: 577979, dtype: object

In [312]:
data = data.iloc[clean_text.index]
data = data.reset_index(drop=True)
data.shape

(577979, 2)

In [313]:
clean_text = clean_text.reset_index(drop=True)

In [314]:
clean_text

0                                      proven another idiot
1                  think ashamed stand pervert husband like
2                   trump amp stupid as different side coin
3         money obama using bring refugee much provide e...
4         august violent month chicago nearly 20 year si...
                                ...
577974    look like bag rice not talking brown especiall...
577975                                             meet yoy
577976    can american right mind vote sick amp tired he...
577977                              hahaha much doo doo lol
577978           personally think bad enemy would breakfast
Name: tweet_text, Length: 577979, dtype: object

In [315]:
def count_words(text):
    num_words = len(text.split())
    return num_words

data['n_words'] = clean_text.apply(lambda x: count_words(x))

data['n_words'].describe()

count    577979.000000
mean          7.376071
std           3.425129
min           1.000000
25%           5.000000
50%           7.000000
75%          10.000000
max          28.000000
Name: n_words, dtype: float64

In [316]:
data.tail()

,tweet_text,created_at,n_words
577974,@AndreaKuszewski @KellyannePolls @realDonaldTr...,2016-09-03 03:18:34,10
577975,@HillaryClinton I meet yoy,2016-09-03 03:18:54,2
577976,How can any American in the right mind vote fo...,2016-09-03 03:19:28,11
577977,@HillaryClinton hahaha you are In so much doo-...,2016-09-03 03:19:45,5
577978,"@realDonaldTrump Personally, I think he'd be b...",2017-02-18 00:34:37,6

In [317]:
data.shape

(577979, 3)

In [318]:
data = data.loc[data['n_words'] > 4]

In [319]:
data = data.reset_index(drop=True)

In [320]:
data.shape

(440853, 3)

## Split to Democrats - Republicans

In [321]:
data.head()

,tweet_text,created_at,n_words
0,I think @HumaAbedin should be ashamed that she...,2016-08-30 14:41:22,6
1,@HillaryClinton @Comeridethwhale so are you! t...,2016-08-30 14:41:28,7
2,@BrinckJeff @POTUS @BarackObama What money is ...,2016-08-30 14:41:31,10
3,August most violent month in Chicago in nearly...,2016-08-30 14:41:32,8
4,@HillaryClinton https://t.co/pgck0ifrzC atleas...,2016-08-30 14:41:33,6

In [322]:
data['tweet_text'][5]

'Working people: @HillaryClinton, not @realDonaldTrump, is the clear choice for president: https://t.co/ToMsaHGJ4f via @AFLCIO #p2 #1uvote'

In [323]:
data['party'] = ""

In [324]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

i=0
for si in data['tweet_text']:
    
    clin = si.find("Clinton")
    oba = si.find("Obama")
    trum = si.find('Trump')
    
    if clin==-1 and oba==-1 and trum==-1 :
        data.loc[i, ('party')] = 'Nothing'
    elif clin==-1 and oba==-1 :
        data.loc[i, ('party')] = 'Rep'
    elif trum==-1:
        data.loc[i, ('party')] = 'Dem'
    else:
        first = min(clin, oba, trum)
        if first==trum:
            data.loc[i, ('party')] = 'Rep'
        else:
            data.loc[i, ('party')] = 'Dem'
    i+=1
    
now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 18:18:08
Current Time = 19:16:33

In [325]:
data['party'].value_counts()

# Ta nothing einai tweets sta opoia den anaferetai kanenas politikos ara den einai safes se poion anaferetai to tweet (Democrats or Republicans)

Rep        284184
Dem         98868
Nothing     57801
Name: party, dtype: int64

In [326]:
data.to_csv("Cleaned_dataset/2016_US_election_tweets_0_cleaned.csv",index=False)

## END