In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Rep_time_series_MEAN.csv")
data.shape

(4, 164)

In [3]:
data.head()

,Descriptor,2016-08-30,2016-08-31,2016-09-01,2016-09-02,2016-09-03,2016-09-04,2016-09-05,2016-09-06,2016-09-07,...,2017-02-19,2017-02-20,2017-02-21,2017-02-22,2017-02-23,2017-02-24,2017-02-25,2017-02-26,2017-02-27,2017-02-28
0,bias-1,0.246894,0.248055,0.247629,0.250714,0.251694,0.252842,0.251137,0.247522,0.244727,...,0.254931,0.252805,0.255000,0.250651,0.249601,0.240797,0.252829,0.259881,0.252742,0.245952
1,positive-1,0.119638,0.125001,0.114768,0.117377,0.124926,0.114882,0.117787,0.121180,0.117610,...,0.119885,0.127561,0.135164,0.119169,0.115731,0.105188,0.113018,0.111134,0.117598,0.111765
2,figurative-0,0.570621,0.562793,0.565973,0.562177,0.568512,0.568301,0.560800,0.569366,0.574293,...,0.536498,0.527359,0.537333,0.535786,0.551131,0.537884,0.528282,0.527422,0.531034,0.545145
3,offensive-1,0.339490,0.336218,0.346245,0.349038,0.352603,0.364632,0.363054,0.344180,0.337477,...,0.350383,0.359102,0.341927,0.355200,0.349997,0.372352,0.376574,0.366802,0.349519,0.350146

In [4]:
train_data = data.iloc[:,1:157]
train_data['Descriptor'] = data['Descriptor']

cols = train_data.columns.tolist()
cols = cols[-1:] + cols[:-1]
train_data = train_data[cols]
train_data.head()

,Descriptor,2016-08-30,2016-08-31,2016-09-01,2016-09-02,2016-09-03,2016-09-04,2016-09-05,2016-09-06,2016-09-07,...,2017-02-12,2017-02-13,2017-02-14,2017-02-15,2017-02-16,2017-02-17,2017-02-18,2017-02-19,2017-02-20,2017-02-21
0,bias-1,0.246894,0.248055,0.247629,0.250714,0.251694,0.252842,0.251137,0.247522,0.244727,...,0.251739,0.257165,0.248018,0.242170,0.250694,0.258751,0.270660,0.254931,0.252805,0.255000
1,positive-1,0.119638,0.125001,0.114768,0.117377,0.124926,0.114882,0.117787,0.121180,0.117610,...,0.113659,0.116848,0.114141,0.102427,0.107952,0.114598,0.123463,0.119885,0.127561,0.135164
2,figurative-0,0.570621,0.562793,0.565973,0.562177,0.568512,0.568301,0.560800,0.569366,0.574293,...,0.513564,0.522483,0.527098,0.532339,0.530658,0.520428,0.527675,0.536498,0.527359,0.537333
3,offensive-1,0.339490,0.336218,0.346245,0.349038,0.352603,0.364632,0.363054,0.344180,0.337477,...,0.366082,0.350804,0.349176,0.370654,0.369225,0.364264,0.357381,0.350383,0.359102,0.341927

In [5]:
test_data = data.iloc[:,157:164]
test_data['Descriptor'] = data['Descriptor']

cols = test_data.columns.tolist()
cols = cols[-1:] + cols[:-1]
test_data = test_data[cols]
test_data.head()

,Descriptor,2017-02-22,2017-02-23,2017-02-24,2017-02-25,2017-02-26,2017-02-27,2017-02-28
0,bias-1,0.250651,0.249601,0.240797,0.252829,0.259881,0.252742,0.245952
1,positive-1,0.119169,0.115731,0.105188,0.113018,0.111134,0.117598,0.111765
2,figurative-0,0.535786,0.551131,0.537884,0.528282,0.527422,0.531034,0.545145
3,offensive-1,0.355200,0.349997,0.372352,0.376574,0.366802,0.349519,0.350146

In [6]:
train_data.to_csv("Rep_MEAN_train.csv", index=False)

In [7]:
test_data.to_csv("Rep_MEAN_test.csv", index=False)